<launch>
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>

    <node name="object_detection_node" pkg="turtlebot-perception-navigation" type="object_detection_node.py" output="screen">
        <param name="yolo_model_path" value="$(find turtlebot-perception-navigation)/yolo/yolo11n.pt"/>
        <param name="confidence_threshold" value="0.5" />
    </node>

    <node name="movement_node" pkg="turtlebot-perception-navigation" type="movement_node.py" output="screen">
        <param name="stop_distance" value="0.8" />
    </node>

    <node name="voice_command_node" pkg="turtlebot-perception-navigation" type="voice_command_node.py" output="screen"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="camera_tf_broadcaster" args="0.069 -0.047 0.117 -1.57 0 -1.57 base_footprint camera_rgb_optical_frame" />
</launch>